* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@mixin image-center {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



// nav

.nav_logo {
    width: 50vw;
    height: 15vh;
}

.navbar-collapse {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    background-color: aqua;
    transition: all 1s;
    display: flex;
    justify-content:center ;

    ul{
        li{
            a{
                font-size: 2rem;
               
            }
        }
    }
}

// footer

footer {
    div{
        background-color: #4d5ce7;
        h3{
            text-align: center;
            font-size: 4vh;
        }
        div{
            padding-bottom: 1rem;
            display: flex;
            justify-content: space-around;
            img {
                width: 50px;
                height: 50px;
            }
        }
    }
    .footer-copyright{
        p{
            text-align: center;
            font-weight: bold;
        }
    }
}
.index-title {
    div {
        text-align: center;
        margin-right: 4vw;
        margin-left: 4vw;
        margin-bottom: 3vh;

        h1 {
            font-size: 4vh;
        }

        h2 {
            font-size: 2vh;
        }
    }
}

.index-flex {
    display: flex;
    flex-wrap: wrap;
    .index-flex_1{
        background-color: #ffff5b;
    }
    .index-flex_2 {
        background-color: #46c946;
    }
    .index-flex_3 {
        background-color: aqua;
    }
    div {
        div {
            margin: 8vh;

            img {
                height: 25vh;
                width: 100%;
            }

            h2 {
                text-align: center;
                margin-top: 1vh;
            }

            p {
                text-align: center;
            }
        }
    }
}

